/* HomePage.css */
#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.work-dashboard {
  color: rgb(20, 90, 50);
  position: fixed;
  left: 25px;
  top: 75px;
}

.generate-new-solution {
  background-color: #44A76E;
  color: rgb(251, 252, 252);
  position: absolute;
  width: 250px;
  height: 50px;
  right: 25px;
  top: 100px;
}

.search-container {
  position: fixed;
  width: 189px;
  top: 150px;
  left: 25px;
}

.search-container input[type="text"] {
  padding: 5px 15px;
  font-size: 16px;
  border: 1px solid #676767;
  border-radius: 10px;
  color: #676767;
  background-color: #CBCBCB;
  width: 235px;
  height: 23px;
  text-align: center;
}

.search-container input[type="text"]::placeholder {
  color: #676767;
  font-weight: bold;
  font-size: 18px;
}

.magnify {
  position: relative;
  border: 3px solid #676767;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  top: 115px;
  right: 10px;
}

.magnify:before {
  content: "";
  position: absolute;
  background-color: #676767;
  width: .7rem;
  height: .25rem;
  top: 100%;
  left: 80%;
  transform: rotate(45deg);
}

.display-box {
  position: fixed;
  left: 1px;
  top: 190px;
  width: 100%;
}

/* Modal */
/* Following CSS is in order of the layers of the modal */
.modal-filter { /* AKA the gray filter outside the modal */
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 1920px;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-container {
  display: flex;
  justify-content: center;
  margin: 10% auto;
  width: 43%;
  height: 65vh;
  background-color: #fefefe;
  border-radius: 52px;
  padding: 0;
}
.modal-content {  /* Everything in the modal */
  width: 100%;
  height: 75%;
}
/* X button at top right of modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-line {
  border: none;
  width: 99.5%;
  height: 2px;
  background-color: rgb(212, 239, 223);
}
/* Form inside the modal */
.modal-form {
  max-height: 90%;
  overflow: auto;
}
/* Upload File Box */
.upload-file {
  border: 2px dashed #ccc;
  background-color: rgb(19, 50, 160, 5%);
  cursor: pointer;
  margin: auto;
  width: 64%;
  height: 150px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.upload-label {
  position: relative;
}
.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.header-container {
  display: flex;
  padding-left: 13%;
}
.header-container h3 {
  text-align: left;
  margin-right: 25px;
  margin-bottom: 2px;
}
.input-container {
  align-items: center;
  margin-inline: 10px;
}
.input-container input[type="text"] {
  background-color: rgb(203, 203, 203);
  border-radius: 5px;
  border: none;
  margin-right: 25px;
  padding: 5px;
}


ul {
  list-style-position: inside;
  padding-left: 17%;
  margin-left: 0;
}
li {
  display: flex;
  align-items: center;
  margin-left: 0;
}
li::before {
  content: '\2022'; /* Unicode character for bullet point */
  margin-right: 0.5em;
}