/* HomePage.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.work-dashboard {
  color: rgb(20, 90, 50);
  position: fixed;
  left: 20px;
  top: 60px;
}

.generate-new-solution {
  background-color: rgb(68, 167, 110);
  color: rgb(251, 252, 252);
  position: absolute;
  width: 276px;
  height: 60px;
  right: 10px;
  top: 85px;
}

.search-container {
  position: fixed;
  width: 189px;
  top: 115px;
  left: 15px;
}

.search-container input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(203, 203, 203);
}

.display-box {
  position: fixed;
  left: 1px;
  top: 150px;
  width: 100%;
}