.top-bar {
    background-color: #000000;
    color: #ffffff;
    padding: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .nav-link {
    background-color: #1f2224;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #ffffff;
    padding: 8px 12px;
    border-radius: 5px;
    margin: 3px;
  }

  .logo {
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%; /* Adjust vertical position as needed */
    transform: translateY(-50%); /* Center the logo vertically */
  }